@media (max-width: 1000px){
    html{
        font-size: 50%
    }
    .header__text-right {
        margin-left: 5rem;
    }
}

@media (max-width: 850px){
    .heading-primary{
        font-size: 4rem;
    }
    .navigation{
        display: none;
    }
    .navigation-toggle{
        display: block;
    }
    .navigation-sm{
        display: flex;
    }
    
    .header__text-box{
        margin-top: 0;
        padding-top: 10rem;
    }
}
@media (max-width: 550px){
    .header__text-box .col-6{
        flex-basis: 100%;
    }
    .header__text-right {
        margin-left: 0;
        
    }
}