:root {
  --color-primary: #343E61;
  --color-primary-light: #70768F;
  --color-blue: #3AC4E5;
  --color-red: #FF6854;
  --color-grey-light-1: #f9f7f6;
  --color-grey-light-2: #aaa;
  --color-grey-dark-1: #777;
  --color-grey-dark-2: #999;
  --color-grey-dark-3: #333;
  --color-white: #fff;
  --color-black: #000;
  --default-font-size: 1.6rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

.container {
  max-width: 114rem;
  margin: 0 auto;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: var(--color-grey-dark-2);
  font-size: var(--default-font-size);
}

.paragraph {
  font-size: var(--default-font-size);
}
.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.heading-primary {
  font-size: 5rem;
  color: var(--color-white);
}

.logo {
  font-size: 3rem;
}
.logo__text {
  position: relative;
}
.logo__text--white {
  color: var(--color-white);
}
.logo__text--blue {
  color: var(--color-blue);
}
.logo__text::after {
  content: "";
  width: 5px;
  height: 5px;
  background-color: var(--color-red);
  position: absolute;
  bottom: 15px;
  right: -7px;
  border-radius: 50%;
}

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  padding: 1rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: var(--default-font-size);
  border: none;
  cursor: pointer;
}
.btn--white {
  background-color: var(--color-white);
  color: var(--color-grey-dark-1);
}
.btn--white::after {
  background-color: var(--color-white);
}

.play-btn {
  height: 10rem;
  width: 10rem;
  background-color: var(--color-red);
  border-radius: 50%;
  border: none;
  position: relative;
  display: grid;
  place-items: center;
  cursor: pointer;
}
.play-btn::before {
  content: "";
  height: 8rem;
  width: 8rem;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  border-radius: 50%;
}
.play-btn::after {
  content: "";
  height: 6rem;
  width: 6rem;
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  border-radius: 50%;
}
.play-btn::before {
  animation: pulse 2s ease-out infinite;
}
.play-btn::after {
  animation: pulse 2s 1s ease-out infinite;
}
.play-btn ion-icon {
  height: 2.5rem;
  width: 2.5rem;
  color: var(--color-white);
  position: absolute;
  left: 4rem;
  z-index: 1;
}

@keyframes pulse {
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}
.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.col-1 {
  flex-basis: 8.3333333333%;
}

.col-2 {
  flex-basis: 16.6666666667%;
}

.col-3 {
  flex-basis: 25%;
}

.col-4 {
  flex-basis: 33.3333333333%;
}

.col-5 {
  flex-basis: 41.6666666667%;
}

.col-6 {
  flex-basis: 50%;
}

.col-7 {
  flex-basis: 58.3333333333%;
}

.col-8 {
  flex-basis: 66.6666666667%;
}

.header {
  background-color: var(--color-primary);
  height: 100vh;
}
.header__text-box {
  margin-top: 8rem;
}
.header__text-left {
  position: relative;
}
.header__text-left img {
  position: absolute;
  top: 0;
  right: 4rem;
}
.header__text-right {
  margin-left: 15rem;
  margin-top: 2rem;
}
.header__text-right img {
  position: absolute;
  right: 10rem;
}

.video-bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../assets/video-bg.jpg);
  height: 50rem;
  margin-top: 5rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
}
.navigation__list {
  display: flex;
  list-style: none;
}
.navigation__item {
  margin-left: 30px;
}
.navigation__link {
  text-decoration: none;
  color: var(--color-grey-light-1);
}
.navigation__control {
  display: flex;
  align-items: center;
}
.navigation__search {
  background-color: var(--color-primary-light);
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: var(--color-grey-light-1);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}
.navigation__search ion-icon {
  width: 20px;
  height: 20px;
}

/*# sourceMappingURL=style.css.map */
