:root {
    --color-primary: #343E61;
    --color-primary-light: #70768F;
    --color-blue: #3AC4E5;
    --color-red: #FF6854;
    
    --color-grey-light-1: #f9f7f6;
    --color-grey-light-2: #aaa;
    
    --color-grey-dark-1: #777;
    --color-grey-dark-2: #999;
    --color-grey-dark-3: #333;

    --color-white: #fff;
    --color-black: #000;

    --default-font-size: 1.6rem;
}