.header {
    background-color: var(--color-primary);
    height: 100vh;

    &__text-box {
        margin-top: 8rem;
    }

    &__text-left {
        position: relative;
        & img {
            position: absolute;
            top: 0;
            right: 4rem;
        }
    }

    &__text-right {
        margin-left: 15rem;
        margin-top: 2rem;

        & img{
            position: absolute;
            right: 10rem;
        }
    }
}