.header {
    // background-color: var(--color-primary);
    // height: 100vh;

    &__text-box {
        margin-top: 8rem;
    }

    &__text-left {
        position: relative;
        & img {
            position: absolute;
            top: 0;
            right: 2rem;
        }
    }

    &__text-right {
        margin-left: 15rem;
        margin-top: 2rem;

        & img{
            position: absolute;
            right: 10rem;
        }
    }

    &__backdrop{
        background-color: var(--color-primary);
        height: 100vh;
        position: absolute;
        width: 100%;
    }
    & .container{
        position: relative;
    }
}

.video-bg{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../assets/video-bg.jpg);
    height: 50rem;
    margin-top: 5rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}