.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;

    &__list{
        display: flex;
        list-style: none;
    }
    &__item{
        margin-left: 30px;
    }
    &__link{
        text-decoration: none;
        color: var(--color-grey-light-1);
    }

    &__control{
        display: flex;
        align-items: center;
    }

    &__search{
        background-color: var(--color-primary-light);
        border: none;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        color: var(--color-grey-light-1);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 30px;

        & ion-icon{
            width: 20px;
            height: 20px;
        }
    }

    &-sm, &-toggle{
        display: none;
    }
    &-top{
        display: flex;
        align-items: center;
        padding-top: 2rem;

        & .logo{
            margin-left: auto;
        }
    }
    &-toggle{
        position: fixed;
        & button{
            background-color: var(--color-white);
            border: none;
            outline: none;
            height: 5rem;
            width: 5rem;
            border-radius: 100%;

            & ion-icon{
                width: 3rem;
                height: 3rem;
            }
        }
    }
}
.navigation-sm{
    background-color: #fff;
    width: 40rem;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    z-index: 100;
    transition: transform .5s ease-in;
    transform: translate(-100%);

    &__nav{
        flex: 1;
    }
    &__list{

    }
    &__item{
        
    }
    &__link{
        text-decoration: none;
        color: var(--color-primary);
        font-weight: 600;
        display: block;
        margin-bottom: 5px;
        padding: 10px 15px;
        font-size: 1.8rem;
        transition: all .2s;

        &:hover{
            background-color: var(--color-primary);
            color: var(--color-white);
        }
    } 
}

.show-nav{
    transform: translate(0);
}