*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html{
    //By default the browser sets the default font-size to 16px
    font-size: 62.5%; // 1rem = 10px; 10px/16px * 100% = 62.5%
}
body{
    box-sizing: border-box;
}
.container {
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 5rem;
}

section{
    padding-top: 8rem;
}